* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #009688;
}
.container {
  width: 50%;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
@media (max-width: 700px) {
  .container {
    width: 70%;
  }
}
.container > h1 {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 1px solid yellow;
}
.contant {
  width: 100%;
}
.contant .pass-box {
  margin-bottom: 0;
  border: 1px solid #607d8b;
  padding: 10px;
  width: 100%;
  position: relative;
}
.contant .pass-box > input {
  border: none;
  font-size: 22px;
  background-color: transparent;
  width: 100%;
}
@media (max-width: 700px) {
  .contant .pass-box > input {
    font-size: 15px;
  }
}
.contant .pass-box i {
  cursor: pointer;
  position: absolute;
  font-size: 23px;
  right: 15px;
  color: #607d8b;
}
.contant .pass-security {
  width: 100%;
  height: 5px;
  background-color: #eee;
  margin-top: 5px;
  border-radius: 8px;
  position: relative;
}
.contant .pass-security::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.7s linear;
}
.contant .pass-security#weak::before {
  background-color: red;
  width: 25%;
}
.contant .pass-security#medium::before {
  background-color: yellow;
  width: 50%;
}
.contant .pass-security#strong::before {
  background-color: green;
  width: 100%;
}
.contant .pass-length {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.contant .pass-length > label {
  color: #607d8b;
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
  display: block;
  position: relative;
}
.contant .pass-length span {
  position: absolute;
  right: 0;
}
.contant .pass-length input {
  display: block;
  width: 100%;
}
.contant .pass-settings {
  width: 100%;
}
.contant p {
  width: 100%;
  color: #607d8b;
  margin-bottom: 10px;
  font-weight: bold;
}
.contant .pass-settings .pass-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .contant .pass-settings .pass-options {
    flex-direction: column;
  }
}
.contant .pass-settings .pass-options .option {
  width: calc(100% / 2);
  margin-bottom: 15px;
  color: #607d8b;
}
@media (max-width: 700px) {
  .contant .pass-settings .pass-options .option {
    width: 100%;
  }
}
.contant .pass-settings .pass-options .option input,
.contant .pass-settings .pass-options .option label {
  cursor: pointer;
}
@media (max-width: 700px) {
  .contant .pass-settings .pass-options .option label {
    font-size: 12px;
  }
}
.generate-btn {
  width: 100%;
  padding: 10px 0;
  background-color: #2196f3;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
